# A couple of these values may already set for you in
# `docker-compose.override.yml` for development; however, they are useful to
# change in production. The lines look a little weird because they are using the
# jinja2 templating language so that ansible can overwrite them in production.
# So if you would like to set one of these values manually, the change would
# look like:
#
#   # this becomes
#   FAKTORY_PASSWORD={{ FAKTORY_PASSWORD | default("password", true) }}
#   # this
#   FAKTORY_PASSWORD=password
#
# If you would like to set development defaults that DO NOT involve secrets, I
# recommend manually editting the `docker-compose.override.yml`; HOWEVER, this
# is purely for development convience. If you add and NEW environment variables,
# you MUST add them to this file and update the ansible configuration
# accordingly.

REDIS_URL={{ redis_url }}
