<form autocomplete="off" action="/interaction/<%= uid %>/verify" method="post">
  <input required type="text" name="code" placeholder="Enter any code" />

  <button type="submit" class="login login-submit">Sign-in</button>
</form>
